@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
body{
    font-family: 'Oswald', sans-serif;
}
/* home section */
#menu-back{
  background-image: url("./assets/image/menu-bg.png");
      background-repeat: no-repeat;
       background-size: 40%;
       background-position: center;    
}
#main-background{
  background-image: url("./assets/image/main-bg.jpg");
  background-attachment: fixed;
  min-height: 100vh;
}
.main-container{
  background-image: url("./assets/image/client-container-img.jpg");
  
}
.booking-background{
  background-image: url("./assets/image//booking-bg.jpg");
  
     
}
/* about section */
.main-banner{
  background-image: url("./assets/about-page-img/banner-image.jpg");
  background-repeat: no-repeat;
  
}
.img-min{
  color: rgba(255,255,255,.6)
}
 
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&display=swap');
#style-font{
  font-family: 'Merienda', cursive;
}
.custom-btn {
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
      font-size: 18px;
    font-weight: 700;
    border-radius: 6px 6px 6px 6px;
    padding: 13px 30px 13px 30px;
  background: transparent;
  cursor: pointer;
  transition: all 0.6s ease;
  position: relative;
  display: inline-block;
 
  outline: none;
}




/* 14 */
.btn-14 {
  background: #b99272;
  border: none;
  z-index: 1;
}
 
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  
    border-radius: 6px 6px 6px 6px;
  background-color:  #fff;
 
  transition: all 0.6s ease;
}
.btn-14:hover {
  color:#b99272 ;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top:  2px;
}
/* perent group */
 /* hidden group-hover:block */







/* button 15 */
 .btn-15 {
  background: #0E1317;
  border: none;
  z-index: 1;
}


.btn-15:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  
    border-radius: 6px 6px 6px 6px;
  background-color:  #fff;
 
  transition: all 0.6s ease;
}



.btn-15:hover {
  color:#b99272 ;
}
.btn-15:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-15:active {
  top:  2px;
}